/* src/styles/quasar.variables.scss */
$primary   : #6C4AB6;
$secondary : #9B59B6;
$accent    : #FFD700;

$dark      : #1A1A2E;
$dark-page : #0F0F1A;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
